# Python
__pycache__/
*.py[cod]
venv/
.env

# Node.js / Frontend
node_modules/
dist/
.DS_Store

# NetX Specific
backend/uploads/*
!backend/uploads/.gitkeep
backend/app/engine/*.mmdb
*.pcap
*.pcapng
*.pdf

# IDEs
.vscode/
.idea/